.wrap {
    padding: 5px 20px;
}

.header {
    margin-bottom: 10px;
}

.rules {
    margin: 0;
    padding-left: 20px;
}

.category {
    margin: 10px 0;
}

.category-name-th {
    font-size: 24pt;
    color: white;
    text-align: left;
}

.category-rating-th {
    background-color: lightslategray;
    color: white;
    text-align: left;
    padding: 5px;
}

.question {
    background-color: lightcyan;
}